html, body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


body {
  background-image: url(../Map/Map.jpg);
  background-color: #314860;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: 10000ms ease-in-out infinite opacity-change;
	}


 @keyframes fadeIn { 
  from { opacity: 0.2; } 
}

.Chinatown {
  position: absolute;
  top: 42%;
  left: 75%;
  
  animation: fadeIn 1.5s infinite alternate;
}

