body {
  background-image: url('Map.jpg');
  background-color: #314860;
  background-repeat: no-repeat;
  background-position: center center;
  background-width: cover;
  animation: 10000ms ease-in-out infinite opacity-change;
	}

.Chinatown {
  position: absolute;
  top: 42%;
  left: 75%;
  
  animation: fadeIn 1.3s infinite alternate;
}
