html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #314860;
  animation: 10000ms ease-in-out infinite opacity-change;
	}

.home{
        display: inline-block;
        position: relative;
        margin: 0 auto;
        width: 100vw;
      
}

#Mapbg{
    width: 100%;
    height: 100%;
    display: block;
}


 @keyframes fadeIn { 
  from { opacity: 0.2; } 
}

  #Mapbg{
    width: 100%;
    height: 100%;
    display: block;
}

.Chinatown {
  position: absolute;
  top: 42%;
  left: 75%;
  
  animation: fadeIn 1.5s infinite alternate;
}
